/* advanced.less */
/* global.var.less */
/* responsive.less */
/* basic.var.less */
/* advanced.var.less */
/* global.src.less */
body {
  background-color: #6666ff;
}
#mode {
  content: 'advanced';
}
#mode-list li {
  display: none;
}
#mode-list li.global {
  display: block;
}
/* basic.src.less */
#mode-list li.basic {
  display: block;
}
/* advanced.src.less */
#mode-list li.advanced {
  display: block;
}
